#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 1000;
}

#spinner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
